.navigation .navbar-brand {
  margin-left: 34px;
}
.navigation .navbar-info {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navigation .navbar-info a {
  font-size: 17px;
  font-family: Suez one;
  margin-right: 0;
}
.navigation .navbar-info .navbar-blue {
  color: #00A2FF;
}
.navigation .navbar-icons i {
  color: #828282;
  font-size: 24px;
  margin-right: 18px;
}

.navigation .navbar-brand {
  margin-right: 70px;
}
.navigation .navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation .navbar-collapse .navbar-info {
  font-family: "Suez One";
  font-size: 17px;
}
.navigation .navbar-collapse .navbar-info .navbar-blue {
  color: #00A2FF;
}
.navigation .navbar-collapse .navbar-icons i {
  color: #828282;
  font-size: 24px;
  margin-right: 35px;
}
.navigation .navbar-sign-up {
  margin-right: 30px;
}
.navigation .navbar-sign-up .navbar-sign-up-link {
  color: #00A2FF;
  font-family: Suez one;
}
.navigation .navbar-sign-up button {
  border: 3px solid #00A2FF;
  color: #00A2FF;
  font-family: Suez one;
}

.sub-header {
  background-color: #EAEAEA;
}
.sub-header .sub-header-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #828282;
  font-family: "Suez One";
}
.sub-header .sub-header-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sub-header .sub-header-col-2 button {
  border: 3px solid #00A2FF;
  color: #00A2FF;
  font-family: "Suez One";
}
.sub-header .sub-header-col-2 p {
  font-family: "Suez One";
  color: #828282;
}

.preview-images {
  position: relative;
}

.main-content {
  margin-top: 45px;
}
.main-content .sub-main-content {
  margin-left: 22px;
}

.summer-sale-banner {
  background-image: url("../images/image 3.png");
  padding: 7px 0;
}
.summer-sale-banner .summer-sale-1 {
  padding-left: 60px;
  font-family: "Suez One";
}
.summer-sale-banner h1 {
  font-size: 30px;
  color: #fff;
}
.summer-sale-banner h3 {
  font-size: 20px;
  color: #fff;
}
.summer-sale-banner .summer-sale-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.summer-sale-banner .btn-outline-primary {
  color: #fff;
  border: 3px solid #fff;
  padding: 3px 30px;
  font-family: "Suez One";
}

.side-bar-content {
  margin-top: 25px;
}

.side-bar-card {
  border: 2px solid #00A2FF;
}
.side-bar-card .card-header {
  background-color: #00A2FF;
  color: #fff;
}
.side-bar-card .card-footer {
  text-align: center;
}
.side-bar-card button {
  background-color: #00A2FF;
  text-align: center;
  padding: 11px 24px;
  font-size: 20px;
  border-radius: 0;
}

.information-card {
  border: 6px solid #00A2FF;
}
.information-card .btn-primary {
  padding: 0px 8px;
}
.information-card .product-info {
  list-style: none;
  padding-left: 0;
}

.form {
  width: 100%;
  margin-top: 20px;
  background-color: #EAEAEA;
  padding: 20px 20px;
}
.form label {
  color: #82828280;
  font-family: "PT Sans";
  font-size: 14px;
  padding-left: 5px;
}
.form .form-select {
  color: #82828280;
  font-family: "PT Sans";
  font-size: 14px;
  margin-bottom: 30px;
}
.form .cart-button {
  font-size: 30px;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Suez One";
  background-color: #00A2FF;
  padding: 22px 30px;
}
.form .cart-button i {
  font-size: 25px;
  padding-right: 10px;
}

.newsletter-card .card-header {
  text-align: center;
  background-color: #00A2FF;
  border-color: #00A2FF;
}
.newsletter-card .card-header .fa-envelope {
  font-size: 40px;
  color: #FFFFFF;
}
.newsletter-card .card-header .fa-times {
  position: absolute;
  top: 10px;
  right: 12px;
  color: #fff;
}
.newsletter-card .card-body {
  background-color: #00A2FF;
}
.newsletter-card .card-body h3 {
  font-size: 20px;
  font-family: "Suez One";
  color: #fff;
}
.newsletter-card .card-body label {
  color: #FFFFFF;
  font-family: "PT Sans";
  font-size: 14px;
  padding-left: 8px;
  font-weight: 700;
}
.newsletter-card .card-body .form-control {
  border-radius: 0;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  color: #82828280;
}
.newsletter-card .card-footer {
  background-color: #00A2FF;
  border-color: #00A2FF;
  padding-bottom: 15px;
}
.newsletter-card .card-footer button {
  display: block;
  margin: 0 auto;
  color: #00A2FF;
  background-color: #fff;
  font-size: 20px;
  font-family: "Suez One";
  padding: 19px 52px;
}

.product-display {
  margin-left: 50px;
}
.product-display .product-heading h5 {
  font-size: 20px;
  font-family: "Suez One";
}
.product-display .product-heading hr {
  height: 2px;
}
.product-display .product-heading .boots {
  color: #00A2FF;
}
.product-display .product-cards .card-title {
  font-family: "Suez One";
  font-size: 18px;
}
.product-display .product-cards p {
  font-family: "PT Sans";
  font-weight: 700;
}
.product-display .product-cards .fa-store-alt {
  margin-right: 10px;
}
.product-display .product-cards .boots {
  color: #00A2FF;
  font-family: "Suez One";
}
.product-display .product-cards .price {
  position: absolute;
  bottom: 2%;
  right: 7%;
  color: #828282;
  font-family: "PT Sans";
}
.product-display .product-cards .price .fa-arrow-right {
  margin-left: 8px;
}

.label-success {
  background-color: #00A2FF;
  color: #fff;
  width: 99px;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0px 4px;
  border-radius: 5px;
  font-family: "PT Sans";
}

.label-default {
  width: 99px;
  height: 32px;
  background: rgba(0, 0, 0, 0.56);
  color: #fff;
  font-family: "PT Sans";
  position: absolute;
  top: 45%;
  left: 5%;
  padding: 4px 4px;
  border-radius: 4px;
}

.preview-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.preview-images > button {
  width: 25%;
}

footer {
  background-color: #4A4A4A;
}
footer .reway-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}
footer .reway-footer h4 {
  color: #fff;
  font-size: 20px;
}
footer .reway-footer i {
  font-size: 42px;
  color: #FFFFFF;
  margin-right: 36px;
}
footer .reway-footer p {
  color: #fff;
  opacity: 0.5;
  margin-bottom: 8px;
}